* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  min-height: 100vh; /* full screen, but grows with content */
  width: 100vw;
}
/* header start here  */
#main_box {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 2fr 1fr 6fr 1fr;
  grid-template-columns: 1fr;
  /* background-color: blue; */
  /* padding: 10px; */
}
header {
  /* background-color: yellow; */
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #302f2f;
}

/* upper head  */
.upper_head {
  display: flex;
  justify-content: center;
}
span {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

#inp {
  margin-top: 10px;
  gap: 5px;
}

/* input stylin g  */
input {
  width: 250px;
  height: 35px;
  border-radius: 17px;
  text-align: center;
  font-size: 10px;
}
input::placeholder {
  font-size: 18px;
  color: #050505;
  font-weight: 500;
}
/* button styling  */
button {
  width: 70px;
  height: 35px;
  border-radius: 17px;
  background-color: rgb(247, 104, 22);
}

/* Nav section start here  */
section {
  background-color: white;
}
#nav {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
}

/* for all image  */
.image {
  height: 15px;
  width: 15px;
}

a {
  text-decoration: none;
  color: black;
}
/* main start here  */
main {
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow-y: scroll;
}
#content {
  /* height: 40px; */
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: yellow;
  margin-top: 30px;
  border-radius: 15px;
  position: relative;
  padding: 10px;
}

.image2{
  width: 28px;
  height: 28px;
}
footer {
  background-color: red;
}
