* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  background-image: linear-gradient(
    to left,
    rgb(153, 153, 192),
    rgb(19, 110, 146)
  );
  font-family: sans-serif;
  font-size: 15px;
}

#form {
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 110px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: white;
  border-radius: 5px;
  background-color: #293c66;
}
h1 {
  text-align: center;
  font-size: 15px;
  padding-bottom: 10px;
}
button {
  text-align: center;
  /* margin: auto; */
  width: 260px;
  height: 25px;
  font-size: 15px;
  background-color: #51C1EA;
  border: none;
  color: white;
  font-weight: 300;
  
}
input {
  width: 260px;

}
h3{
    text-wrap: wrap;
    font-size: 12px;
    line-height: 12px;
}